* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

#imagen-pachamama_panorama {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer {
    font-size: 0.9em;
}

footer p {
    margin-top: 10px;
}

ul li a {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.8em;
    }

    section p {
        font-size: 1em;
    }
}
textarea{
    resize: none;;
}
